rsrc-schema/src/vnd.eci.stg.probe.1.5.0.xsd

<?xml version='1.0' encoding='utf-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           elementFormDefault='qualified'
           xml:lang='en'>

  <xs:element name='probes'>
    <xs:complexType>
      <xs:sequence minOccurs='1' maxOccurs='50'>
        <xs:element name='probe' type='ProbeType'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name='ProbeType'>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          TODO
        </xs:documentation>
      </xs:annotation>
      <xs:element name='self' type='xs:string' minOccurs='0' maxOccurs='1'/>
      <xs:element name='code' type='xs:string' minOccurs='0' maxOccurs='1'/>
      <xs:element name='description' type='xs:string' minOccurs='0' maxOccurs='1'/>
      <xs:element name='httpStatusCode' type='xs:integer' minOccurs='0' maxOccurs='1'/>
      <xs:element name='when' type='xs:dateTime' minOccurs='0' maxOccurs='1'/>
      <xs:element name='value' type='xs:string' minOccurs='0' maxOccurs='1'/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
