rsrc-schema/src/vnd.eci.stg.stock.1.5.0.xsd

<?xml version='1.0' encoding='utf-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           elementFormDefault='qualified'
           xml:lang='en'>

  <xs:element name='stock' type='ItemType'/>

  <xs:complexType name='AddressType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='msc'         type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='mtn'         type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='rcp'         type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='alt'         type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='dal'         type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='city'        type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='region'      type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='postalCode'  type='string-40'     minOccurs='0' maxOccurs='1' />
      <xs:element name='country'     type='string-40'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='BillToType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='contact'     type='ContactType'   minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='BuyerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='contact'     type='ContactType'   minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ConsumerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='contact'     type='ContactType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='contract'    type='ReferenceType' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ContactType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='CurrencyType'>
    <xs:sequence>
      <xs:element name='code'        type='string-32' />
      <xs:element name='name'        type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256' minOccurs='0' maxOccurs='1' />
      <xs:element name='number'      type='xs:integer' />
      <xs:element name='precision'   type='xs:integer' />
      <xs:element name='scale'       type='xs:integer' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ItemType'>
    <xs:sequence>
      <xs:element name='reference'       type='ReferenceType'       minOccurs='0' maxOccurs='1' />
      <xs:element name='code'            type='string-32'           minOccurs='0' maxOccurs='1' />
      <xs:element name='name'            type='string-32'           minOccurs='0' maxOccurs='1' />
      <xs:element name='description'     type='string-128'          minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'         type='string-256'          minOccurs='0' maxOccurs='1' />
      <xs:element name='when'            type='xs:dateTime'         minOccurs='0' maxOccurs='1' />
      <xs:element name='whenExpected'    type='xs:dateTime'         minOccurs='0' maxOccurs='1' />
      <xs:element name='billTo'          type='BillToType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='buyer'           type='BuyerType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='consumer'        type='ConsumerType'        minOccurs='0' maxOccurs='1' />
      <xs:element name='seller'          type='SellerType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='shipTo'          type='ShipToType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='shippingMethod'  type='ShippingMethodType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='location'        type='AddressType'         minOccurs='0' maxOccurs='1' />
      <xs:element name='make'            type='string-32'           minOccurs='0' maxOccurs='1' />
      <xs:element name='model'           type='string-32'           minOccurs='0' maxOccurs='1' />
      <xs:element name='serialNumber'    type='string-32'           minOccurs='0' maxOccurs='1' />
      <xs:element name='quantity'        type='xs:float'            minOccurs='0' maxOccurs='1' />
      <xs:element name='unitMeasure'     type='UnitMeasureType'     minOccurs='0' maxOccurs='1' />
      <xs:element name='unitCost'        type='MoneyType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='total'           type='TotalType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='currency'        type='CurrencyType'        minOccurs='0' maxOccurs='1' />
      <xs:element name='itemsCount'      type='xs:integer'          minOccurs='0' maxOccurs='1' />
      <xs:element name='items'           type='ItemsType'           minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ItemsType'>
    <xs:sequence minOccurs='1' maxOccurs='5000'>
      <xs:element name='item' type='ItemType'/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name='MoneyType'>
    <xs:annotation>
      <xs:documentation>
        Every Product must have a unit cost that is equal to or greater than
        0 and must cost just under one trillion monetary units. Version 1.5.0
        assumes the monetary unit is US Dollars.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:decimal'>
      <xs:minInclusive value='0'/>
      <xs:maxInclusive value='999999999999.999999'/>
      <xs:fractionDigits value='6'/>
      <xs:totalDigits value='18'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name='ReferenceType'>
    <xs:sequence>
      <xs:element name='code'        type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256' minOccurs='0' maxOccurs='1' />
      <xs:element name='type'        type='ReferenceTypeEnum' minOccurs='0' maxOccurs='1' />

      <xs:element name='referencesCount' type='xs:integer'     minOccurs='0' maxOccurs='1' />
      <xs:element name='references'      type='ReferencesType' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name='ReferenceTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='buyer'/>
      <xs:enumeration value='consumer'/>
      <xs:enumeration value='manufacturer'/>
      <xs:enumeration value='seller'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name='ReferencesType'>
    <xs:sequence minOccurs='0' maxOccurs='1000'>
      <xs:element name='reference' type='ReferenceType'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='SellerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='contact'     type='ContactType'   minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ShippingMethodType'>
    <xs:sequence>
      <xs:element name='code'        type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256' minOccurs='0' maxOccurs='1' />
      <xs:element name='itemsCount' type='xs:integer'          minOccurs='0' maxOccurs='1' />
      <xs:element name='items'      type='ShippingMethodsType' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ShippingMethodsType'>
    <xs:sequence minOccurs='0' maxOccurs='1000'>
      <xs:element name='shippingMethod' type='ReferenceType'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ShipToType'>
    <xs:sequence>
      <xs:element name='code'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='string-128'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='string-256'    minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='string-32'     minOccurs='0' maxOccurs='1' />
      <xs:element name='contact'     type='ContactType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='isDropShip'  type='xs:boolean'    minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='TaxType'>
    <xs:sequence>
      <xs:element name='code'            type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='name'            type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='description'     type='string-128' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'         type='string-256' minOccurs='0' maxOccurs='1' />
      <xs:element name='amount'          type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='authority'       type='string-32'  minOccurs='0' maxOccurs='1' />
      <xs:element name='itemsCount'      type='xs:integer' minOccurs='0' maxOccurs='1' />
      <xs:element name='items'           type='ItemsType'  minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='TotalType'>
    <xs:sequence>
      <xs:element name='amount'         type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='discountAmount' type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='freightAmount'  type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='termsAmount'    type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='tax'            type='TaxType'    minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'        type='string-256' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='UnitMeasureType'>
    <xs:sequence>
      <xs:element name='code'        type='string-32' />
      <xs:element name='name'        type='string-32' />
      <xs:element name='description' type='string-128' />
      <xs:element name='remarks'     type='string-256' />
      <xs:element name='quantity'    type='xs:decimal'/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name='string-32'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='32' />
      <xs:minLength value='0' />
      <xs:whiteSpace value='preserve' />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='string-40'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='32' />
      <xs:minLength value='0' />
      <xs:whiteSpace value='preserve' />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='string-128'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='128' />
      <xs:minLength value='0' />
      <xs:whiteSpace value='preserve' />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='string-256'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='256' />
      <xs:minLength value='0' />
      <xs:whiteSpace value='preserve' />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
