rsrc-schema/src/vnd.eci.stg.order.1.5.0.xsd

<?xml version='1.0' encoding='utf-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           elementFormDefault='qualified'
           xml:lang='en'>

  <xs:element name='order' type='ItemType'/>

  <xs:complexType name='AddressType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='msc'         type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='mtn'         type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='rcp'         type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='alt'         type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='dal'         type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='city'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='region'      type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='postalCode'  type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='country'     type='xs:string'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='BillToType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='xs:string'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='BuyerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='xs:string'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ConsumerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='contract'    type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='xs:string'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='CurrencyType'>
    <xs:sequence>
      <xs:element name='code'      type='xs:string'  />
      <xs:element name='name'      type='xs:string'  />
      <xs:element name='number'    type='xs:integer' />
      <xs:element name='precision' type='xs:integer' />
      <xs:element name='scale'     type='xs:integer' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ItemType'>
    <xs:sequence>
      <xs:element name='reference'       type='ReferenceType'       minOccurs='0' maxOccurs='1' />
      <xs:element name='name'            type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='description'     type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'         type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='location'        type='AddressType'         minOccurs='0' maxOccurs='1' />
      <xs:element name='buyer'           type='BuyerType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='consumer'        type='ConsumerType'        minOccurs='0' maxOccurs='1' />
      <xs:element name='seller'          type='SellerType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='shipTo'          type='ShipToType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='billTo'          type='BillToType'          minOccurs='0' maxOccurs='1' />
      <xs:element name='shippingCarrier' type='ShippingCarrierType' minOccurs='0' maxOccurs='1' />
      <xs:element name='when'            type='xs:dateTime'         minOccurs='0' maxOccurs='1' />
      <xs:element name='whenExpected'    type='xs:dateTime'         minOccurs='0' maxOccurs='1' />
      <xs:element name='lineNumber'      type='xs:integer'          minOccurs='0' maxOccurs='1' />
      <xs:element name='make'            type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='model'           type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='serialNumber'    type='xs:string'           minOccurs='0' maxOccurs='1' />
      <xs:element name='quantity'        type='xs:float'            minOccurs='0' maxOccurs='1' />
      <xs:element name='unitCost'        type='MoneyType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='unitMeasure'     type='UnitMeasureType'     minOccurs='0' maxOccurs='1' />
      <xs:element name='total'           type='TotalType'           minOccurs='0' maxOccurs='1' />
      <xs:element name='currency'        type='CurrencyType'        minOccurs='0' maxOccurs='1' />
      <xs:element name='itemsCount'      type='xs:integer'          minOccurs='0' maxOccurs='1' />
      <xs:element name='items'           type='ItemsType'           minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ItemsType'>
    <xs:sequence minOccurs='1' maxOccurs='5000'>
      <xs:element name='item' type='ItemType'/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name='MoneyType'>
    <xs:annotation>
      <xs:documentation>
        Every Product must have a unit cost that is equal to or greater than
        0 and must cost just under one trillion monetary units. Version 1.5.0
        assumes the monetary unit is US Dollars.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:decimal'>
      <xs:minInclusive value='0'/>
      <xs:maxInclusive value='999999999999.999999'/>
      <xs:fractionDigits value='6'/>
      <xs:totalDigits value='18'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name='ReferenceType'>
    <xs:sequence>
      <xs:element name='code'        type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='type'        type='ReferenceTypeEnum' minOccurs='0' maxOccurs='1' />

      <xs:element name='refsCount'   type='xs:integer'     minOccurs='0' maxOccurs='1' />
      <xs:element name='refs'        type='ReferencesType' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name='ReferenceTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='buyer'/>
      <xs:enumeration value='consumer'/>
      <xs:enumeration value='manufacturer'/>
      <xs:enumeration value='seller'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name='ReferencesType'>
    <xs:sequence minOccurs='0' maxOccurs='1000'>
      <xs:element name='reference' type='ReferenceType'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='SellerType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='taxID'       type='xs:string'     minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ShippingCarrierType'>
    <xs:sequence>
      <xs:element name='code'        type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string' minOccurs='0' maxOccurs='1' />
      <xs:element name='type'                         minOccurs='0' maxOccurs='1'  >
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='buyer'        />
            <xs:enumeration value='consumer'     />
            <xs:enumeration value='document'     />
            <xs:enumeration value='lineNumber'   />
            <xs:enumeration value='manufacturer' />
            <xs:enumeration value='seller'       />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='ShipToType'>
    <xs:sequence>
      <xs:element name='reference'   type='ReferenceType' minOccurs='0' maxOccurs='1' />
      <xs:element name='name'        type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='description' type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'     type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='location'    type='AddressType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='email'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='phone'       type='xs:string'     minOccurs='0' maxOccurs='1' />
      <xs:element name='isDropShip'  type='xs:boolean'    minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='TaxType'>
    <xs:sequence>
      <xs:element name='code'            type='xs:string'  minOccurs='0' maxOccurs='1' />
      <xs:element name='name'            type='xs:string'  minOccurs='0' maxOccurs='1' />
      <xs:element name='description'     type='xs:string'  minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'         type='xs:string'  minOccurs='0' maxOccurs='1' />
      <xs:element name='amount'          type='MoneyType'  minOccurs='0' maxOccurs='1' />
      <xs:element name='authority'       type='xs:string'  minOccurs='0' maxOccurs='1' />
      <xs:element name='itemsCount'      type='xs:integer' minOccurs='0' maxOccurs='1' />
      <xs:element name='items'           type='ItemsType'  minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='TotalType'>
    <xs:sequence>
      <xs:element name='amount'         type='MoneyType' minOccurs='0' maxOccurs='1' />
      <xs:element name='discountAmount' type='MoneyType' minOccurs='0' maxOccurs='1' />
      <xs:element name='freightAmount'  type='MoneyType' minOccurs='0' maxOccurs='1' />
      <xs:element name='termsAmount'    type='MoneyType' minOccurs='0' maxOccurs='1' />
      <xs:element name='tax'            type='TaxType'   minOccurs='0' maxOccurs='1' />
      <xs:element name='remarks'        type='xs:string' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='UnitMeasureType'>
    <xs:sequence>
      <xs:element name='name'        type='xs:string'  />
      <xs:element name='description' type='xs:string'  />
      <xs:element name='remarks'     type='xs:string'  />
      <xs:element name='code'        type='xs:string'  />
      <xs:element name='quantity'    type='xs:decimal' />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
